<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/g5UcB8x2UQLfYzw5CHVFqlBUrWqS37xmNP1iCCoz289YCsX8X6/api/v3/index.json" />
  </packageSources>
</configuration>
